In [1]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [2]:
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn = engine.connect()

In [4]:
departments_df = pd.read_sql_query("select * from departments", con=conn)
departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [5]:
from pymongo import MongoClient

conn_string = "mongodb+srv://m001-student:bYEtUox9zCt3rK8n@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority&appName=Sandbox"
client = MongoClient(conn_string)

In [10]:
dbname = client['retail_db']
coleccion = dbname['departments']

df_to_dict = departments_df.to_dict("records")

coleccion.insert_many(df_to_dict)

InsertManyResult([ObjectId('67905f10ef61d3a9f60e597f'), ObjectId('67905f10ef61d3a9f60e5980'), ObjectId('67905f10ef61d3a9f60e5981'), ObjectId('67905f10ef61d3a9f60e5982'), ObjectId('67905f10ef61d3a9f60e5983'), ObjectId('67905f10ef61d3a9f60e5984')], acknowledged=True)

In [11]:
coleccion.insert_one({'department_id': 8, 'department_name': 'Footwear2'})

InsertOneResult(ObjectId('67905f54ef61d3a9f60e5985'), acknowledged=True)