In [ ]:
#indentacion

if condicional : 
    print('hola Mundo')
    ...

In [2]:
# comentarios
'''Comentarios Docstring'''

'Comentarios Docstring'

In [6]:
# variables

var1 = ''
var2 = 5.1
var3 = "Datapath"

print(var2)

5.1

In [7]:
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'float'>
<class 'str'>

In [8]:
a, b, c = 'Datapath', 'Python', 'Git'

print(a)
print(b)
print(c)

Datapath
Python
Git

In [11]:
# tipos de datos en python

# String

var_string = 'qwerty'

print(var_string)
print(var_string[1:3])

qwerty
we

In [14]:
# numericas

var_int = 10
var_float = 4.5
var_complex = 3.14j

print(var_int)

10

In [13]:
# Listas
# list = [a, b, c, d]

list_1 = []

list_2 = [2, 3, 4, 5]

list_3 = [3, "qwert", 44.4]

list_4 = ["Datapath", 4, [3, 5, 7], ['a', 4.5, 4.5j]]

In [17]:
# lista = [1, 2, 3, 4, 5]
# lista[0]

print(list_4[1])
print(list_4[2][1])

4
5

In [18]:
lista = [1, 2, 3, 4, 5]

print(lista[2:4])

[3, 4]

In [19]:
lista[4] = 7

In [20]:
print(lista)

[1, 2, 3, 4, 7]

In [22]:
list_a = [6, 7, 8]

list_a.append(3)
list_a.append(5)

print(list_a)

[6, 7, 8, 3, 5]

In [23]:
list_a.extend([1, 2, 4])
print(list_a)

[6, 7, 8, 3, 5, 1, 2, 4]

In [24]:
list_a.append([9,10, 11])
print(list_a)

[6, 7, 8, 3, 5, 1, 2, 4, [9, 10, 11]]

In [25]:
for item in list_a:
    print(item)

6
7
8
3
5
1
2
4
[9, 10, 11]

In [30]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_final = list_a + list_b

print(list_final)

[1, 2, 3, 4, 5, 6]

In [32]:
result = []

for i in range(len(list_a)):
    print(list_a[i] + list_b[i])
    result.append(list_a[i] + list_b[i])

print(result)

5
7
9
[5, 7, 9]

In [33]:
# Tuplas

tupla = ()

tupla_int = (1, 3, 4)

tupla_mixta = (1, 4.j, "Datapath")

tupla_anidada = (1, 4.5, (1, 2, 3))

print(tupla_anidada)

(1, 4.5, (1, 2, 3))

In [36]:
tupla_1 = ("Datapath",)
print(type(tupla_1))

tupla_2 = "Datapath", 
print(type(tupla_2))

<class 'tuple'>
<class 'tuple'>

In [38]:
print(tupla_mixta[1])
print(tupla_anidada[2][1])

4j
2

In [39]:
tupla_mixta[1] = 4

TypeError: 'tuple' object does not support item assignment

In [40]:
# Diccionarios
# diccionario_1 = {}

dict_1 = {}
dict_2 = {
            1: 'Datapath',
            2: 'Python'
        }

dict_3 = {
            'nombre': 'Juan',
            'apellido': 'Perez'
        }

print(dict_3)

{'nombre': 'Juan', 'apellido': 'Perez'}

In [42]:
print(dict_3["nombre"])
print(dict_3["apellido"])

Juan
Perez

In [43]:
print(dict_3.get('nombre'))

Juan

In [44]:
print(dict_3['edad'])

KeyError: 'edad'

In [45]:
print(dict_3.get('edad'))

None

In [46]:
dict_3['edad'] = 25
print(dict_3)

{'nombre': 'Juan', 'apellido': 'Perez', 'edad': 25}

In [47]:
dict_3['edad'] = 30
print(dict_3)

{'nombre': 'Juan', 'apellido': 'Perez', 'edad': 30}

In [48]:
for key in dict_3:
    print(key, '->', dict_3[key])

nombre -> Juan
apellido -> Perez
edad -> 30

In [54]:
# control de flujo
# Condicionales if - elif - else

x = 0

if x > 0 :
    print(" x es positivo")
elif x == 0 :
    print(" x es cero")
else:
    print("x es negativo")

 x es cero

In [55]:
if x >= 0 :
    if x ==0:
        print("x es cero")
    else:
        print(" x es positivo")
else:
    print("x es negativo")

x es cero

In [56]:
# for

for item in [1, 3, 5, 7, 8]:
    print(item)

1
3
5
7
8

In [57]:
for item in range(5):
    print(item)

0
1
2
3
4

In [59]:
c = 0

while c < 5:
    print("Contador", c)
    c = c + 1

Contador 0
Contador 1
Contador 2
Contador 3
Contador 4

In [60]:
# break

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [61]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [62]:
# pass

def clean_data():
    pass

if True:
    pass

In [65]:
# funciones 

def funcion():
    return "Hola"

var_1 = funcion()
print(var_1)

Hola

In [66]:
def funcion(x):
    return 2*x

print(funcion(4))

8

In [67]:
def read_table(table_name):
    query = f"SELECT * FROM {tabla_name}"
    return execute_query(query)

SyntaxError: incomplete input (491266235.py, line 1)

In [68]:
suma = lambda a,b: a+b
print(suma(2,5))

7

In [ ]:
# Eliminar duplicados en una lista
# Buscar un elemento e una lista

In [73]:
def eliminar_duplicados(lista):
    try:
        return list(set(lista))
    except Exception as e:
        return e

lista = [1,2, 3, 3, 4, 4]

eliminar_duplicados(4)

TypeError("'int' object is not iterable")

In [75]:
# Buscar un elemento en una lista
def search_element(lista, item):    
    for i in range(0, len(lista)):        
        if item == lista[i]:            
            return i    
    return 'element not found'
    
print(search_element([1, 2, 3], 3))

2

In [76]:
def busqueda(lista, elemento):
    for pos, val in enumerate(lista):
        if val == elemento:
            return pos
    return False

print(busqueda([1, 2, 3], 3))

2

In [77]:
def buscar_elemento(lista, elemento):
    for item in lista:
        if item == elemento:
            return "Valor encontrado"
        
print(buscar_elemento([1, 2, 3], 3))

Valor encontrado

In [78]:
# Crear una funcion que calcule el factorial de un numero
# sumar numeros pares desde el 1 hasta el 100

def factorial(num):    
    if num == 0: return 1    
    fact = 1    
    for i in range(num, 0, -1):        
        fact = fact * i    
    return fact

print(factorial(5))

120

5!
5x4x3x2x1

3x2!
2x1!
1x0!

In [79]:
def calcular_factorial(num):
    if num == 0:
        return 1
    else: 
        return num * calcular_factorial(num-1)
    
# num * num-1 * num-2* .. 1

calcular_factorial(5)

120

In [81]:
def suma_pares():
    pares = [num for num in range(1, 101) if num % 2 == 0 ]
    return sum(pares)

print(suma_pares())

2550

In [82]:
def suma_pares():
    suma = 0
    for num in range(1,101):
        if num%2 == 0:
            suma = suma + num
    return suma

print(suma_pares())

2550